/**
 * Style notes:
 *
 * Desktop -> mobile breakpoint = 600px
 * Footer attribution breaks up = 350px
 *
 * Off-black color = #161616
 * Hover/focus/active color = #C400EB
 */

/**
 * Page-level styles.
 */
html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #161616;
    box-sizing: border-box;
    height: calc(100% - 60px);
}

body.no-scroll {
    overflow: hidden;
}

#react-mount-point {
    height: 100%;
}

/* Only "visible" to screen readers. From https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/**
 * All links styles.
 */
a,
a:visited {
    color: white;
    text-decoration: none;
    box-shadow: 0px 2px white;
}

a:hover,
a:active,
a:focus {
    outline: 1pc solid rgba(0, 0, 0, 0);
    /* Be careful; this color only works on white backgrounds.
      The lighter version to be used on black is #ef9cff */
    color: #c400eb;
    box-shadow: 0px 4px #c400eb;
}

/**
 * Page nav styles.
 */
nav,
.header-name,
.header-links {
    display: flex;
}

.header-link:hover,
.header-link:active,
.header-link:focus {
    color: #ef9cff;
    box-shadow: 0px 4px #ef9cff;
}

nav {
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 20px);
    color: white;
    background-color: #161616;
    z-index: 2;
}

.d-signature-icon {
    /* Color is #ef9cff */
    height: 22px;
    margin-top: -3px;
    margin-right: 1px;
}

.header-link,
.header-name {
    margin: 10px 15px;
}

@media only screen and (max-width: 600px) {
    .header-links {
        display: none;
    }
}

.header-name {
    white-space: nowrap;
}

/* TODO: Remove the profession text at 780px when the Gallery and Journal links
   are added to the page nav. */
@media only screen and (max-width: 400px) {
    .header-profession {
        display: none;
    }
}

/**
 * Header menu button styles.
 */
#header-menu-button {
    border: 0;
    background: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}

/* TODO: Make this out of CSS or vector or something instead of using an image. */
#header-menu-button > img {
    height: 18px;
    margin: 10px 15px;
}

@media only screen and (min-width: 601px) {
    #header-menu-button {
        display: none;
    }
}

.menu-button-bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-button-bar.active {
    background-color: #ef9cff;
}

/* Rotate first bar */
.change .menu-button-bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .menu-button-bar-2 {
    opacity: 0;
}

/* Rotate last bar */
.change .menu-button-bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/**
 * Mobile menu overlay styles.
 */
#menu-overlay {
    overflow: hidden;
    /* TODO: If user has reduced motion on, don't add this transition. */
    transition: height 0.4s ease-out;
    background-color: #161616;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
}

#menu-overlay.menu-closed {
    height: 0;
}

@media only screen and (min-width: 601px) {
    #menu-overlay {
        display: none;
        max-height: 0;
    }
}

.overlay-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.overlay-link {
    margin: 40px;
}

/**
 * Gallery styles.
 */
#main-content {
    box-sizing: border-box;
    min-height: calc(100% - 60px);
    /* Pushes the content below the header. */
    margin-top: 60px;
}

.bio {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.bio-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 600px) {
    .bio {
        margin-top: 80px;
        padding: 5px;
    }

    .bio-avatar {
        width: 40px;
        height: 40px;
    }
}

.bio-text-wrapper {
    margin-left: 10px;
    max-width: 800px;
}

.bio-text-section:not(:last-child) {
    margin-bottom: 15px;
}

.bio-text-msg {
    padding: 10px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    line-height: 1.4;
}

.bio-text-msg:not(:last-child) {
    margin-bottom: 5px;
}

.bio-text-msg:last-child {
    border-bottom-left-radius: 20px;
}

.gallery {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (min-width: 601px) {
    #main-content {
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .gallery {
        margin-top: 20px;
    }
}

.art-thumb {
    object-fit: cover;
    transition: filter 0.5s ease-out;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}

.art-thumb-loading {
    filter: blur(40px);
    position: absolute;
}

.art-thumb.hidden {
    opacity: 0;
    /* It's important that this has the blur on it for the purpose of animating the switch.
       While the image has loaded, we remove the loading thumb from the page
       and we remove the hidden className from the high res thumb. We transition the filter
       on this thumb when this className is removed to soften the switch. */
    filter: blur(40px);
}

/* These constraints mess up mobile. */
@media only screen and (min-width: 601px) {
    .art-thumb {
        border: 2px solid #bebebe;
        border-radius: 10px;
        cursor: pointer;
    }

    .art-thumb.vertical {
        width: 450px;
        height: 600px;
    }

    .art-thumb.horizontal {
        width: 600px;
        height: 450px;
    }

    .art-thumb.square {
        width: 525px;
        height: 525px;
    }
}

.art-thumb-wrapper {
    margin: 10px;
    position: relative;
}

.art-thumb-wrapper.square,
.art-thumb-wrapper.horizontal {
    display: flex;
    align-items: center;
}

/* TODO: Make thumbs into links that go to a "detail" page. */
@media only screen and (min-width: 601px) {
    /* This transition looks awkward.. I think we're better off without it. */
    /* .art-thumb {
        transition: transform 0.2s ease-out;
    } */

    .art-thumb:hover,
    .art-thumb:focus,
    .art-thumb:active {
        transform: scale(1.01);
        border: 2px solid #c400eb;
        transition: none;
        filter: drop-shadow(5px 5px 2px #b8a1bd);
        outline: none;
        outline: 0;
    }
}

@media only screen and (max-width: 600px) {
    /* display: block is adding 4px of space after each thumb, which I quite like on mobile */
    .art-thumb-wrapper,
    .art-thumb-wrapper.square,
    .art-thumb-wrapper.horizontal {
        display: block;
    }
    /* I don't like 4px of space between the last thumb and the footer, and display: flex removes it */
    .art-thumb-wrapper:last-child,
    .art-thumb-wrapper.square:last-child,
    .art-thumb-wrapper.horizontal:last-child {
        display: flex;
    }
    .art-thumb-wrapper {
        margin: 0;
    }
    .art-thumb {
        width: 100%;
        height: auto;
        max-width: none !important;
        max-height: none !important;
    }
}

/**
 * Footer styles.
 */
footer {
    border-top: 1px solid #161616;
    padding: 20px 25px;
    text-align: center;
    color: white;
    background-color: #161616;
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: 14px;
    }
}

@media only screen and (max-width: 350px) {
    .footer-text {
        display: block;
    }

    .footer-separator {
        display: none;
    }
}
